div.parent{

}

div.child{
	display: inline-block;
}

div.money{

}

div.time{
	float: right;
}


#image{
	border-radius: 10px;
	left:0;
	width:100%;
	max-width: 800px;
	max-height: 400px;
	height: 100%;
}

#image1{
	padding: 1rem;
  	position: relative;
  	background: linear-gradient(to top, red, purple);
  	padding: 3px;
	border-radius: 10px;
	margin: 0;
	left:0;
	width:100%;
	max-width: 800px;
	max-height: 400px;
	height: 100%;
}

.ads_button{
	width:100%;
	animation-duration: 8s;

	background-color: gold;
  	box-shadow: 0 -200px 100px -120px crimson inset;

	animation-name: gradientus;
	animation-iteration-count: infinite;

}

@keyframes gradientus{
	50%{
		background-color: skyblue;
    	box-shadow: 0 -200px 100px -100px yellowgreen inset;
	}
}